{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- 提示 -->
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>
					<i class="ace-icon fa fa-check green"></i>
					为了您更好的做产品，我们给您推荐亚马逊辅助软件 ——— <a href="{:url('admin/Help/soft')}">进入软件下载专区</a>
				</div>
				<div class="row">
					<div class="space-6"></div>
					<div class="col-sm-7 infobox-container">

						<div class="row">
							<div class="col-xs-12">
								<div class="space-6"></div>
							</div>
						</div>


					</div>
					<div class="vspace-12-sm"></div>
					<!-------------------->
					<style>
						.mainItem {

							margin: 10px;
							background: #fff;
							border-radius: 5px;
							padding: 10px;

						}

						.mainItem > div:nth-child(1) {
							color: #666;
							font-weight: bold;
							margin-bottom: 16px;
						}

						.mainItem > div:nth-child(2) a {
							color: #00a3e8;
							margin-right: 14px;
						}
					</style>
					<div class="panel panel-default" style="background: #f5f5f5">
						<div class="panel-heading">常用网址</div>
						<div class="mainItem">
							<div>
								技术学习
							</div>
							<div>
								<a target="_blank" href="https://www.mrqdb.com/">逗比论坛</a>
								<a target="_blank" href="http://bbs.fobshanghai.com/forum-208-1.html">福步亚马逊论坛</a>
								<a target="_blank" href="https://bbs.ichuanglan.com/">创蓝论坛</a>
								<a target="_blank" href="https://www.cifnews.com/">雨果网</a>
								<a target="_blank" href="http://www.wubuyan.com/">知无不言</a>
							</div>
						</div>

						<div class="mainItem">
							<div>
								翻译
							</div>
							<div>
								<a target="_blank" href="https://translate.google.cn/">谷歌翻译</a>
								<a target="_blank" href="https://fanyi.baidu.com/">百度翻译</a>
								<a target="_blank" href="http://fanyi.youdao.com/">有道翻译</a>
								<a target="_blank" href="http://cn.bing.com/translator/">必应翻译</a>
							</div>
						</div>

						<div class="mainItem">
							<div>
								常用查询
							</div>
							<div>
								<a target="_blank" href="https://mjzj.com/mai-jia-gong-ju/guan-jian-ci-cha-xun.html">关键词查询</a>
								<a target="_blank" href="https://www.liaosam.com/go/">全球时间</a>
								<a target="_blank" href="https://mjzj.com/mai-jia-gong-ju/dan-wei-huan-suan-qi.html">万能单位换算</a>
								<a target="_blank" href="https://mjzj.com/mai-jia-gong-ju/shang-biao-cha-xun.html">商标查询</a>
								<a target="_blank" href="http://www.kuaidi100.com/">国内快递查询</a>
								<a target="_blank" href="https://www.17track.net/zh-cn/">国际快递查询</a>
								<a target="_blank" href="http://www.laposte.fr/particulier">法国物流查询</a>
								<a target="_blank" href="https://www.sfcservice.com/track?tdsourcetag=s_pcqq_aiomsg">三态物流查询</a>
							</div>
						</div>


						<div class="mainItem">
							<div>
								亚马逊热销榜
							</div>
							<div>
								<a target="_blank" href="https://www.amazon.com/Best-Sellers-generic/zgbs">美国</a>
								<a target="_blank" href="https://www.amazon.co.uk/Best-Sellers-Welcome/zgbs/ref=zg_bsms_tab">英国</a>
								<a target="_blank" href="https://www.amazon.fr/gp/bestsellers">法国</a>
								<a target="_blank" href="https://www.amazon.de/gp/bestsellers">德国</a>
							</div>
						</div>


						<div class="mainItem">
							<div>
								国内采购
							</div>
							<div>
								<a target="_blank" href="https://www.1688.com/">1688</a>
								<a target="_blank" href="https://www.taobao.com/">淘宝</a>
								<a target="_blank" href="https://kj.1688.com/">阿里跨境</a>
								<a target="_blank" href="https://www.jd.com/">京东</a>
							</div>
						</div>

						<div class="mainItem">
							<div>
								国际参考
							</div>
							<div>
								<a target="_blank" href="https://www.aliexpress.com/">速卖通</a>
								<a target="_blank" href="https://www.alibaba.com/">1688国际站</a>
								<a target="_blank" href="https://www.dhgate.com/">敦煌网</a>
								<a target="_blank" href="https://www.ebay.com/">易贝网</a>
								<a target="_blank" href="https://www.lazada.com/">东南亚lazada</a>
								<a target="_blank" href="https://www.wish.com/">WISH</a>
								<a target="_blank" href="https://www.lightinthebox.com/">兰亭集势</a>
							</div>
						</div>

						<div class="mainItem">
							<div>
								收款网址
							</div>
							<div>
								<a target="_blank" href="https://global.lianlianpay.com/register?invitecode=3BYUG5">连连跨境支付</a>
								<a target="_blank" href="https://www.payoneer.com/zh/">P卡</a>
								<a target="_blank" href="https://us.pingpongx.com/external/inviteReg.htm?inviteCode=UnYNVf533">PingPong</a>
							</div>
						</div>


					</div>


					<!-------------------->



				</div><!-- /.row -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
{/block}