{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-5 col-sm-2  margintop5">

					<!--<button class="btn btn-sm btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						<a style="color: #ffffff;" href="{:url('admin/Productupload/myupload')}">立即上传列表</a>
					</button>
					<button class="btn btn-sm btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						<a style="color: #ffffff;"  href="{:url('admin/Productupload/timing_upload')}">定时上传列表</a>
					</button>-->
				<!--<button class="btn btn-sm btn-danger" style="background-color: #1dccaa;margin-right:0px;">
					<i class="ace-icon fa fa-bolt bigger-110"></i>
					<a style="color: #ffffff;"  href="{:url('admin/Productupload/new_upload')}">添加新上传</a>
				</button>-->
			</div>



		</div>
		<div class="row">
			<div class="col-xs-12">
				<div>
					<table class="table table-striped table-bordered table-hover" id="dynamic-table">
						<thead>
						<tr>
							<th>
								上传编号
							</th>
							<th>
								授权账户
							</th>
							<th>
								产品id
							</th>
							<th>
								产品
							</th>
							<th>
								关系
							</th>
							<th>
								图片
							</th>
							<th>
								库存
							</th>
							<th>
								价格
							</th>
<!--							<th>-->
<!--								一键上传-->

<!--							</th>-->
							<!-- <th>
								AMAZON类目
							</th>
							<th>
								分类类型
							</th> -->
							<th>
								更新时间
							</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>
						</thead>

						<tbody>
						{foreach $record as $k=>$v}
						<tr>
							<td>
								{$v['id']}
							</td>
							<td>
								{if $v['store_id'] ==4}
								德国
								{elseif $v['store_id'] ==5}
								英国
								{elseif $v['store_id'] ==6}
								意大利
								{elseif $v['store_id'] ==7}
								法国
								{elseif $v['store_id'] ==8}
								西班牙
								{elseif $v['store_id'] ==0}
								北美
								{/if}
								{$name}
							</td>
							<td>
							<span class='commodity_id'
								  style="display: inline-block; width: 80px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
								{$v['commodity_id']}
							</span>
							</td>
							<td>
								{if $v['product_status'] == 0}
								<a href="#" class="feed" data-id={$v['id']} data-type='product'>上传</a>
								{elseif $v['product_status'] == 1}
								<a href="#" class="getList" data-id={$v['id']} data-type='product'>更新</a>
								{elseif $v['product_status'] == 2}
								<a href="#" class="getResult" data-id={$v['id']} data-type='product'>获取结果</a>
								{elseif $v['product_status'] == 3}
								<a href="#">上传成功</a>
								{elseif $v['product_status'] == 4}
								<a href="#" onclick="getError({$v['product_submission']})">错误详情</a>
								<a href="#">上传失败</a>
								<a href="#" class="feed" data-id={$v['id']} data-type='product'>重新上传</a>
								{/if}
							</td>
							<td>	
								{if $v['product_status'] == 3}
								{if $v['relationships_status'] == 0}
								<a href="#" class="feed" data-id={$v['id']} data-type='relationships'>上传</a>
								{elseif $v['relationships_status'] == 1}
								<a href="#" class="getList" data-id={$v['id']} data-type='relationships'>更新</a>
								{elseif $v['relationships_status'] == 2}
								<a href="#" class="getResult" data-id={$v['id']} data-type='relationships'>获取结果</a>
								{elseif $v['relationships_status'] == 3}
								<a href="#">上传成功</a>
								{elseif $v['relationships_status'] == 4}
								<a href="#" onclick="getError({$v['product_submission']})">错误详情</a>
								<a href="#">上传失败</a>
								<a href="#" class="feed" data-id={$v['id']} data-type='relationships'>重新上传</a>
								{/if}
								{/if}
							</td>
							<td>
								{if $v['product_status'] == 3}
								{if $v['img_status'] == 0}
								<a href="#" class="feed" data-id={$v['id']} data-type='img'>上传</a>
								{elseif $v['img_status'] == 1}
								<a href="#" class="getList" data-id={$v['id']} data-type='img'>更新</a>
								{elseif $v['img_status'] == 2}
								<a href="#" class="getResult" data-id={$v['id']} data-type='img'>获取结果</a>
								{elseif $v['img_status'] == 3}
								<a href="#">上传成功</a>
								{elseif $v['img_status'] == 4}
								<a href="#" onclick="getError({$v['product_submission']})">错误详情</a>
								<a href="#">上传失败</a>
								<a href="#" class="feed" data-id={$v['id']} data-type='img'>上传</a>
								{/if}
								{/if}
							</td>
							<td>
								{if $v['product_status'] == 3}
								{if $v['inventory_status'] == 0}
								<a href="#" class="feed" data-id={$v['id']} data-type='inventory'>上传</a>
								{elseif $v['inventory_status'] == 1}
								<a href="#" class="getList" data-id={$v['id']} data-type='inventory'>更新</a>
								{elseif $v['inventory_status'] == 2}
								<a href="#" class="getResult" data-id={$v['id']} data-type='inventory'>获取结果</a>
								{elseif $v['inventory_status'] == 3}
								<a href="#">上传成功</a>
								{elseif $v['inventory_status'] == 4}
								<a href="#" onclick="getError({$v['product_submission']})">错误详情</a>
								<a href="#">上传失败</a>
								<a href="#" class="feed" data-id={$v['id']} data-type='inventory'>上传</a>
								{/if}
								{/if}
							</td>
							<td>
								{if $v['product_status'] == 3}
								{if $v['price_status'] == 0}
								<a href="#" class="feed" data-id={$v['id']} data-type='price'>上传</a>
								{elseif $v['price_status'] == 1}
								<a href="#" class="getList" data-id={$v['id']} data-type='price'>更新</a>
								{elseif $v['price_status'] == 2}
								<a href="#" class="getResult" data-id={$v['id']} data-type='price'>获取结果</a>
								{elseif $v['price_status'] == 3}
								<a href="#">上传成功</a>
								{elseif $v['price_status'] == 4}
								<a href="#" onclick="getError({$v['product_submission']})">错误详情</a>
								<a href="#">上传失败</a>
								<a href="#" class="feed" data-id={$v['id']} data-type='price'>上传</a>
								{/if}
								{/if}
							</td>
<!--							<td>-->
<!--								{if $v['product_status'] == 0}-->
<!--								<a href="#" class="feed" data-id={$v['id']} data-type='all'>上传</a>-->
<!--								{/if}-->
<!--							</td>-->
						<!-- 	<td>
								{$v['category']}
							</td>
							<td>
								{$v['template']}
							</td> -->
							<td>
								{$v['time']}
							</td>

							<td>
							<a href="{:url('admin/product/editRecord',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
											<span class="green">
												<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
											</span>
							</a>
							<a href="{:url('admin/Product/deleteReocrd',array('id'=>$v['id']))}" data-info="你确定要删除吗？" class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="删除" data-original-title="删除">
											<span class="red">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</span>
							</a>
						</td>
						</tr>
						{/foreach}
						<tr>
								<td height="50" colspan="11" align="left">{$page}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<!--添加到后台menu-->
		<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-backdrop fade in" id="gbbb" style="height: 100%;"></div>
			<form class="form-horizontal ajaxForm2" name="model_addmenu" method="post" action="{:url('admin/Model/model_addmenu')}">
				<input type="hidden" name="model_id" id="model_id" value="" />
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="gb" data-dismiss="modal"
									aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								添加到后台菜单
							</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12">

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 导航标题：  </label>
										<div class="col-sm-9">
											<input type="text" name="menu_name" id="menu_name"  class="col-xs-10 col-sm-5" required/>
											<span class="lbl">&nbsp;&nbsp;<span class="red"></span>后台菜单名</span>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 样式名称：  </label>
										<div class="col-sm-9">
											<input type="text" name="css" id="css" class="col-xs-10 col-sm-3"/>
											<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>样式图标样式</span>
										</div>
										<span class="col-sm-3"></span><span class="col-sm-9" style="font-size:12px; color:#999; margin-top:5px;">预留样式：fa-tachometer ， fa-folder ， fa-list ， fa-list-alt ， fa-calendar</span>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序（从小到大）： </label>
										<div class="col-sm-9">
											<input type="text" name="sort" id="sort"  value="50" class="col-xs-10 col-sm-3" />
											<span class="lbl">&nbsp;&nbsp;<span class="red"></span>越小越靠前</span>
										</div>
									</div>
									<div class="space-4"></div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								提交保存
							</button>
							<button type="button" class="btn btn-default" id="gbb" data-dismiss="modal"
									aria-hidden="true">关闭
							</button>
						</div>
					</div>
				</div>
			</form>
		</div><!--修改-->
	</div><!-- /.page-content -->
	<div class="modal-backdrop fade in" id="backgroundBlack" style="height: 100%;display: none"></div>

	<div class="modal-dialog" style="position: absolute;left:50%;margin-left: -600px;top:100px;width: 1200px;display: none" id="resultList">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close closeResult"  data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="">
					上传结果
				</h4>
			</div>
			<div class="modal-body">
				<table>	
					<tr id="thead">	
						<th>类型</th>
						<th>代码</th>
						<th>详情</th>
						<th>SKU</th>
						<th>解决方案</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-dialog" style="position: absolute;left:50%;margin-left: -400px;top:200px;width: 800px;display: none" id="errorReason">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close closeError"  data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="">
					解决方案
				</h4>
			</div>
			<div class="modal-body" id="scheme">
				
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(".commodity_id").hover(function(){
		    $(this).attr("title",$(this).html());
		});
		$('.feed').click(function(){
			var id = $(this).attr('data-id')
			var type = $(this).attr('data-type')
			var parent = $(this).parent()
			$(this).remove()
			parent.html('上传中')
			$.ajax({
					url:'{:url(\'admin/Product/createLcoalXml\')}',
					data:{recordId:id,type:type},
					type:'post',
					dataType: 'json',
					success:function(result){
						if(result.status=='success'){
							location.reload();
						}else{
							alert(result.msg)
						}
					}
				},'json');
		})
		$('.getList').click(function(){
			var id = $(this).attr('data-id')
			var type = $(this).attr('data-type')
			var parent = $(this).parent()
			$(this).remove()
			parent.html('更新中')
			$.ajax({
					url:'{:url(\'admin/Product/getFeedSubmissionList\')}',
					data:{recordId:id,type:type},
					type:'post',
					dataType: 'json',
					success:function(result){
						if(result.status=='success'){
							location.reload();
						}else{
							alert(result.msg)
						}
					}
				},'json');
		})
		$('.getResult').click(function(){
			var id = $(this).attr('data-id')
			var type = $(this).attr('data-type')
			var parent = $(this).parent()
			$(this).remove()
			parent.html('获取中请稍后')
			$.ajax({
					url:'{:url(\'admin/Product/GetFeedSubmissionResult\')}',
					data:{recordId:id,type:type},
					type:'post',
					dataType: 'json',
					success:function(result){
						location.reload();
					}
				},'json');	
		})
		//查看错误原因
		function getError(submission){
			$.ajax({
					url:'{:url(\'admin/Product/GetError\')}',
					data:{TransactionID:submission},
					type:'post',
					dataType: 'json',
					success:function(result){
						$('#thead').nextAll().remove()
						if(result.msg== 'success'){
							$("#resultList").css('display','block');
							$("#backgroundBlack").css('display','block');
							var html = "";
							for (var i = result.data.length - 1; i >= 0; i--) {
								var sku = result.data[i]['SKU']
								var url = "{:url(\'admin/Product/skuGetGoods\')}"
								html += "<tr>"	
								html +=	"<th>"+result.data[i]['ResultCode']+"</th>"
								html +=	"<th>"+result.data[i]['ResultMessageCode']+"</th>"
								html +=	"<th>"+result.data[i]['ResultDescription']+"</th>"
								html +=	"<th><a href="+url+"?sku="+sku+">"+result.data[i]['SKU']+"</a></th>"
								html +=	"<th><a data-id="+result.data[i]['ResultMessageCode']+" class='errorCode'>查看</a></th>"
								html +=	"</tr>"
							}
							$('#thead').after(html)
						}else{
							alert('系统原因请重新上传')
						}
					}
				},'json');	
		}
		//关闭报错
		$('.closeResult').click(function(){
			$("#resultList").css('display','none');
			$("#backgroundBlack").css('display','none');
			$("#errorReason").css('display','none');
		})
		//关闭解决方案
		$('.closeError').click(function(){
			$("#errorReason").css('display','none');
		})
		//查看解决方案
		$("#resultList").on("click",".errorCode",function(){
			var errorId = $(this).attr('data-id')
			$.ajax({
					url:'{:url(\'admin/Feed/errorReason\')}',
					data:{errorId:errorId},
					type:'post',
					dataType: 'json',
					success:function(result){
						if(result.msg=='success'){
							$('#errorReason').css('display','block');
							$('#scheme').html(result.data.scheme)
						}else{
							alert('暂无未解决方案')
						}
					}
				},'json');	
		})
	</script>
{/block}
