{extend name="admin@public/base" /}
{block name="main-content"}
<style>
.bootstrap-table .table {
    margin-bottom: 0!important;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse!important;
    border-radius: 1px
}

.bootstrap-table .table,
.bootstrap-table .table>tbody>tr>td,
.bootstrap-table .table>tbody>tr>th,
.bootstrap-table .table>tfoot>tr>td,
.bootstrap-table .table>tfoot>tr>th,
.bootstrap-table .table>thead>tr>td {
    padding: 8px;
}

.bootstrap-table .table.table-no-bordered>tbody>tr>td,
.bootstrap-table .table.table-no-bordered>thead>tr>th {
    border-right: 2px solid transparent
}
.bootstrap-table .table>tbody>tr:hover{
    background: #f5f5f5;
}
.fixed-table-container {
    position: relative;
    clear: both;
    /*min-height: 240px;*/
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.fixed-table-container.table-no-bordered {
    border: 1px solid transparent
}

.fixed-table-footer,
.fixed-table-header {
    height: 37px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0
}

.fixed-table-header {
    border-bottom: 1px solid #ddd
}

.fixed-table-footer {
    border-top: 1px solid #ddd
}

.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    min-height:185px;
    position: relative;
}

.fixed-table-container table {
    width: 100%
}

.fixed-table-container thead th {
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd
}

.fixed-table-container thead th:first-child {
    border-left: none;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px
}

.fixed-table-container thead th .th-inner {
    padding: 8px 0;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fixed-table-container thead th .sortable {
    cursor: pointer;
    background-image: url('../../img/sort-default.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px
}

.fixed-table-container th.detail {
    width: 30px
}

.fixed-table-container tbody td {
    border-left: 1px solid #ddd
}

.fixed-table-container tbody tr:first-child td {
    border-top: none
}

.fixed-table-container tbody td:first-child {
    border-left: none
}

/*.fixed-table-container tbody .selected td {
    background-color: #f5f5f5
}*/

.fixed-table-container .bs-checkbox {
    text-align: center
}

.fixed-table-container .bs-checkbox .th-inner {
    padding: 8px 0
}

.fixed-table-container input[type=radio],
.fixed-table-container input[type=checkbox] {
    margin: 0 auto!important
}

.fixed-table-container .no-records-found {
    text-align: center
}

.fixed-table-pagination .pagination-detail,
.fixed-table-pagination div.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
}

.fixed-table-pagination div.pagination .pagination {
    margin: 0
}

.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    color: #666;
    line-height: 1.428571429
}
.fixed-table-pagination .pagination li.active a,
.fixed-table-pagination .pagination li:hover a{
    color: #fff;
    background: #24b7ce;
    border-color: #24b7ce;
}
.fixed-table-pagination .pagination-info {
    line-height: 34px;
    margin-right: 5px
}

.fixed-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.fixed-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0
}

.fixed-table-pagination .page-list {
    display: inline-block
}

.fixed-table-toolbar .columns-left {
    margin-right: 5px
}

.fixed-table-toolbar .columns-right {
    margin-left: 5px
}

.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429
}

.fixed-table-toolbar .bars,
.fixed-table-toolbar .columns,
.fixed-table-toolbar .search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px
}

.fixed-table-pagination li.disabled a {
    pointer-events: none;
    cursor: default
}

.fixed-table-loading {
    display: none;
    /*min-height: 200px;*/
    position: absolute;
    top: 37px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    text-align: center;
/*    box-shadow: 3px 3px 3px #d2d2d2;*/
}
.cpc-main .fixed-table-loading{
    top: 60px;
}
.fixed-table-body .card-view .title {
    font-weight: 700;
    display: inline-block;
    min-width: 30%;
    text-align: left!important
}

.fixed-table-body thead th .th-inner {
    box-sizing: border-box
}

.table td,
.table th {
    vertical-align: middle;
    box-sizing: border-box
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
    max-height: 300px;
    overflow: auto
}

.fixed-table-toolbar .btn-group>.btn-group {
    display: inline-block;
    margin-left: -1px!important
}

.fixed-table-toolbar .btn-group>.btn-group>.btn {
    border-radius: 0
}

.fixed-table-toolbar .btn-group>.btn-group:first-child>.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.fixed-table-toolbar .btn-group>.btn-group:last-child>.btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.bootstrap-table .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.bootstrap-table .table thead>tr>th {
    padding: 0;
    margin: 0
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto
}

p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden
}

</style>
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-12 col-sm-1">
				<!-- 点击添加模态框（Modal） -->
				<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
					<i class="ace-icon fa fa-bolt bigger-110"></i>
					创建跟卖
				</button>

			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>
					<form class="ajaxForm" name="source_order" method="post" action="" >
						<table class="table table-striped table-bordered table-hover" id="dynamic-table">
							<thead>
							<tr>
								<th>序号</th>
								<th>商品信息</th>
								<th>售价</th>
								<th>跟卖时设置库存</th>
								<th>跟卖时间</th>

								<th>状态</th>
								<th>操作</th>
							
							</tr>
							</thead>

							<tbody>

							{foreach name="fwq" item="v" key="k"}
								<tr>
									<td height="28" >{$k+1}</td>
									<td style="text-align: center; vertical-align: middle; width: 300px; ">
									    <div class="fl ml20 mr10 mt10">
									        <a href="http://www.amazon.de/dp/B07B6MDY26" target="_blank">
									            <img width="48" src="http://ecx.images-amazon.com/images/I/61p5SMHMGHL._SL900_.jpg">
									        </a>
									       
									    </div>
									    <div class="fl tl" style="width:70%;">
									        <span class="ml0 ques-tips ques-tips-sm js-quetion">
									            <i class="icon-flag flag-DE" data-name="DE">
									            </i>
									            <b class="cont flag-cont" style="width: 40px;">
									                德国
									            </b>
									        </span>
									        「
									        <a href="http://www.amazon.de/gp/aag/main?seller=A22MV3GXUGEVAL" class="_blue"
									        target="_blank">
									            刘栋哄_DE
									        </a>
									        」
									        <p class="mt5 mb5">
									            Klopfer,Tür griff kupfer verarbeiten Chinesisch zu behandeln Schranktür
									            messing antik griff möbelbeschläge griff Face plate schraube schrankeinbau
									            22cm-L
									        </p>
									        <p>
									            ASIN：
									            <span class="cont-copy J_copy">
									                <span class="copy-btn" data-clipboard-action="copy" data-clipboard-target="#asin0">
									                    复制
									                </span>
									                <b class="cont" id="asin0">
									                    <a href="http://www.amazon.de/dp/B07B6MDY26" class="_blue" target="_blank">
									                        B07B6MDY26
									                    </a>
									                </b>
									            </span>
									            <span class="ques-tips ques-tips-sm js-quetion">
									                <i class="icon icon-M pointer">
									                </i>
									                <b class="cont">
									                    卖家自发货
									                </b>
									            </span>
									        </p>
									        <p>
									            SKU：
									            <span class="cont-copy J_copy">
									                <span class="copy-btn" data-clipboard-action="copy" data-clipboard-target="#sku0">
									                    复制
									                </span>
									                <b class="cont" id="sku0">
									                    test1383471-11
									                </b>
									            </span>
									        </p>
									    </div>
									</td>
									<td>{$v.fwq_ip}</td>
									<td>administrator</td>
									<td>{$v.fwq_password}</td>

									<td>{$v.dq_time}</td>
								

									<td>
										<div class="hidden-sm hidden-xs action-buttons">
											<a class="green fwqedit-btn"  href="{:url('admin/Fwq/fwq_edit')}" data-id="{$v.fwq_id}"  title="修改">
												<i class="ace-icon fa fa-pencil bigger-130"></i>
											</a>
											<a class="red confirm-rst-url-btn" data-info="你确定要删除吗？" href="{:url('admin/Fwq/fwq_del',array('fwq_id'=>$v['fwq_id'],'p'=>input('p',1)))}" title="删除">
												<i class="ace-icon fa fa-trash-o bigger-130"></i>
											</a>
										</div>
										<div class="hidden-md hidden-lg">
											<div class="inline position-relative">
												<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
													<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
												</button>
												<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
													<li>
														<a href="{:url('admin/Fwq/fwq_edit')}" data-id="{$v.fwq_id}" class="tooltip-success sourceedit-btn" data-rel="tooltip" title="" data-original-title="修改">
																	<span class="green">
																		<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																	</span>
														</a>
													</li>

													<li>
														<a href="{:url('admin/Fwq/fwq_del',array('fwq_id'=>$v['fwq_id'],'p'=>input('p',1)))}"  class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="" data-info="你确定要删除吗？" data-original-title="删除">
																	<span class="red">
																		<i class="ace-icon fa fa-trash-o bigger-120"></i>
																	</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							{/foreach}
							<tr>
								<!--<td height="50" align="left"><button  id="btnorder" class="btn btn-white btn-yellow btn-sm">排序</button></td>-->
								<td height="50" colspan="10" align="right">{$page}</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>

		<!-- 显示添加模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form class="form-horizontal ajaxForm2" name="fwq_add" method="post" action="{:url('admin/Fwq/fwq_runadd')}">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								创建跟卖
							</h4>
						</div>
						<div class="modal-body">


							<div class="row">
								<div class="col-xs-12">

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">营业执照法人：  </label>
										<div class="col-sm-10">
											<input type="text" name="yyzzfr" id="yyzzfr" placeholder="输入营业执照法人" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 服务器IP：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_ip" id="fwq_ip" placeholder="输入服务器IP地址" class="col-xs-10 col-sm-5" required/>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 账号：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_name" id="fwq_name" placeholder="输入账号名称" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 密码：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_password" id="fwq_password" placeholder="输入账号密码" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 购买时间：  </label>
										<div class="col-sm-10">
											<input type="date" name="gm_time" id="gm_time" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 到期时间：  </label>
										<div class="col-sm-10">
											<input type="date" name="dq_time" id="dq_time" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">服务器供应商：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_gys" id="fwq_gys" placeholder="输入服务器供应商" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">管理者：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_glz" id="fwq_glz" placeholder="输入服务器管理者" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">对应软件账号：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_dyctzh" id="fwq_dyctzh" placeholder="输入对应软件账号" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

								</div>
							</div>




						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								提交保存
							</button>
							<button class="btn btn-info" type="reset">
								重置
							</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</form>
		</div><!-- /.modal -->






		<!-- 显示修改模态框（Modal） -->
		<div class="modal fade in" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-backdrop fade in" id="gbbb" style="height: 100%;"></div>
			<form class="form-horizontal ajaxForm2" name="fwq_runedit" method="post" action="{:url('admin/Fwq/fwq_runedit')}">
				<input type="hidden" name="fwq_id" id="editfwq_id" value="" />
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="gb"  data-dismiss="modal"
									aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								修改服务器
							</h4>
						</div>
						<div class="modal-body">


							<div class="row">
								<div class="col-xs-12">

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">营业执照法人：  </label>
										<div class="col-sm-10">
											<input type="text" name="yyzzfr" id="edit_yyzzfr" placeholder="输入营业执照法人" class="col-xs-10 col-sm-5"/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 服务器IP：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_ip" id="edit_fwq_ip"  class="col-xs-10 col-sm-5"  required/>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 账号：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_name" id="edit_fwq_name" class="col-xs-10 col-sm-5"/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 密码：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_password" id="edit_fwq_password" placeholder="输入账号密码" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 购买时间：  </label>
										<div class="col-sm-10">
											<input type="date" name="gm_time" id="edit_gm_time" class="col-xs-10 col-sm-5"/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 到期时间：  </label>
										<div class="col-sm-10">
											<input type="date" name="dq_time" id="edit_dq_time" class="col-xs-10 col-sm-5" />

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">服务器供应商：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_gys" id="edit_fwq_gys" placeholder="输入服务器供应商" class="col-xs-10 col-sm-5" required/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">管理者：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_glz" id="edit_fwq_glz" placeholder="输入服务器管理者" class="col-xs-10 col-sm-5"/>

										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">对应软件账号：  </label>
										<div class="col-sm-10">
											<input type="text" name="fwq_dyctzh" id="edit_fwq_dyctzh" placeholder="输入对应软件账号" class="col-xs-10 col-sm-5" />

										</div>
									</div>
									<div class="space-4"></div>

								</div>
							</div>




						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								提交保存
							</button>
							<button type="button" class="btn btn-default"  id="gbb" >
								关闭
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</form>
		</div><!-- /.modal -->

	</div><!-- /.page-content -->
{/block}


